<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>What "LoL" means?</h1>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex="100%"
    *ngFor="let post of posts"
  >
    <mat-card>
      <mat-card-title>{{ post.name | name }}</mat-card-title>
      <mat-card-content>
        <p>{{ post.message }}</p>
      </mat-card-content>
      <img
        [src]="'http://localhost:8000/uploads/' +  post.image"
        [alt]="'Photo of ' + post.name"
        mat-card-image
        *ngIf="post.image"
      >
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>
