  <h4>Create new post</h4>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>name</mat-label>
        <input name="name" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea
          name="message"
          required
          ngModel
          matInput
        ></textarea>
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="name" ngModel></app-file-input>
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
